@tailwind base;

@tailwind components;

:focus-visible {
  @apply outline-primary;
}

img {
  @apply h-auto min-h-full min-w-full w-full;
}

.btn {
  @apply border rounded px-2 py-1;

  &.btn-primary {
    @apply border-primary text-primary hover:text-white hover:bg-primary;
  }
}

@tailwind utilities;