---
import '../styles/global.css'
import { SEO } from 'astro-seo'
import site from '../data/site'

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      charset='UTF-8'
      description={description ?? site.meta.description}
      extend={{
        link: [
          { rel: 'icon', href: '/favicon.svg' },
        ],
        meta: [
          { name: 'generator', content: Astro.generator },
          { name: 'theme-color', content: site.meta.themeColor },
          { name: 'viewport', content: 'width=device-width' },
        ],
      }}
      title={title}
      titleDefault={site.meta.name}
      titleTemplate=`%s - ${site.meta.name}`
    />
  </head>
  <body class="bg-black">
    <slot />
  </body>
</html>
