<header class="flex items-start justify-between mb-4 mt-8">
  <div>
    <a
      class="inline-block mb-4 text-3xl hover:underline"
      href="/"
    ><h1>Wallpapers</h1></a>
    <p class="font-light">@Inigochoa's collection of wallpapers. Gathered from various sources.</p>
  </div>

  <a
    class="btn btn-primary"
    href="https://github.com/inigochoa/wallpapers"
    rel="noopener noreferrer"
    target="_blank"
    title="Check the repository"
  >Repo</a>
</header>