<header class="">
  <div class="mb-4 mt-8">
    <a
      class="block mb-4 text-3xl hover:underline"
      href="/"
    ><h1>Wallpapers</h1></a>
    <p class="font-light">A collection of wallpapers by @inigochoa.</p>
  </div>
</header>